* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.ul--menu {
	display:flex;
	list-style-type: none;
	justify-content: flex-end;
	
}
.li--menu {
	padding: 10px;
	
}

.li--menu img {
	width: 1.1em;
	height: 1.1em;
}

.popup{
	margin: 0.5em;
	background-image: url(./popup-icons/popup-button.png);
	background-repeat: no-repeat;
}
.outer-popup-container{
	display:flex;
	list-style-type: none;
	justify-content: flex-end;
	margin: 0 10px;
}
.inner-container{
	border: 0.5px solid lightcoral;
	border-radius: 6px;
	justify-items: center;
	align-items: center;

}

.popups--container, .popups--container--all{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px
	
}

.popup--item{
	height: 2em;
	width: 2em;
	border: 0.1px solid lightgrey;
}
.checkbox-icon, .show--all--icons {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
